.back-sq {
  background-image: linear-gradient(to right, #e7e5e4 1px, transparent 1px), linear-gradient(to bottom, #e7e5e4 1px, transparent 1px);

  background-size: 20px 20px;
  background-position: 0 0, 0 0;
  mask-image:
    repeating-linear-gradient(to right,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px),
    repeating-linear-gradient(to bottom,
      black 0px,
      black 3px,
      transparent 3px,
      transparent 8px),
    radial-gradient(ellipse 100% 80% at 50% 100%, #000 50%, transparent 90%);
  mask-composite: intersect;
}

